@model CFAStudentTracker.Models.Queue

@{
    ViewBag.Title = "Details";
}
@* Files in queue & Users in queue & queue Group manager *@
<h2>@Model.QueueDescription </h2>
        <h4>Manage</h4>
        <hr />
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Manage Files
            </div>
            <div class="panel-body">
                <p>
                    Add, view, remove, and prioritize files in queue.
                </p>
                @Html.ActionLink("Manage", "../Processings/Index", new { id = Model.QueueID }, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
                </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Manage Users
            </div>
            <div class="panel-body">
                <p>
                    Add or remove users from queue
                </p>
                @Html.ActionLink("Manage", "Edit", new { id = Model.QueueID }, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Manage Queue Group
            </div>
            <div class="panel-body">
                <p>
                    Manage the workflow of queues in group
                </p>
                @Html.ActionLink("Manage", "Edit", new { id = Model.QueueID }, htmlAttributes: new { @class = "btn btn-primary btn-xs" })
            </div>
        </div>
    </div>
              
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
