@model IEnumerable<CFAStudentTracker.Models.Processing>

@{
    ViewBag.Title = "Index";
}

<h2>Queue</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("SSN")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Record.FileType.TypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Record.StudentFile.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Record.StudentFile.FileSSN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProcID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProcID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProcID })
        </td>
    </tr>
}

</table>
